*.pth
*.model
dataset/lrs2
dataset/lrw
dataset/mead
log
log_tensorboard
results
temp
__pycache__
talkingface/evaluator/.uuid
.gitignore
.uuid
checkpoints/.uuid
checkpoints/LSE/.uuid
checkpoints/wav2lip/.uuid
dataset/.uuid
saved/.uuid
saved/wav2lip/.uuid
talkingface/.uuid
talkingface/config/.uuid
talkingface/data/.uuid
talkingface/model/.uuid
talkingface/properties/.uuid
talkingface/quick_start/.uuid
talkingface/trainer/.uuid
talkingface/utils/.uuid
